In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from tqdm import tqdm
from datetime import datetime, timedelta

In [2]:
product = pd.read_csv('./data/product_brand.csv', on_bad_lines='skip')
transaction = pd.read_csv('./data/transaction_new.csv')
customer = pd.read_csv('./data/customer.csv')

In [3]:
customer = customer.assign(first_join_date=pd.to_datetime(customer['first_join_date']))
customer = customer.assign(birthdate=pd.to_datetime(customer['birthdate']))
customer = customer.assign(age=2022-customer['birthdate'].dt.year)
customer

,customer_id,first_name,last_name,username,email,gender,birthdate,device_type,device_id,device_version,home_location_lat,home_location_long,home_location,home_country,first_join_date,age
0,2870,Lala,Maryati,671a0865-ac4e-4dc4-9c4f-c286a1176f7e,671a0865_ac4e_4dc4_9c4f_c286a1176f7e@startupca...,F,1996-06-14,iOS,c9c0de76-0a6c-4ac2-843f-65264ab9fe63,iPhone; CPU iPhone OS 14_2_1 like Mac OS X,-1.043345,101.360523,Sumatera Barat,Indonesia,2019-07-21,26
1,8193,Maimunah,Laksmiwati,83be2ba7-8133-48a4-bbcb-b46a2762473f,83be2ba7_8133_48a4_bbcb_b46a2762473f@zakyfound...,F,1993-08-16,Android,fb331c3d-f42e-40fe-afe2-b4b73a8a6e25,Android 2.2.1,-6.212489,106.818850,Jakarta Raya,Indonesia,2017-07-16,29
2,7279,Bakiman,Simanjuntak,3250e5a3-1d23-4675-a647-3281879d42be,3250e5a3_1d23_4675_a647_3281879d42be@startupca...,M,1989-01-23,iOS,d13dde0a-6ae1-43c3-83a7-11bbb922730b,iPad; CPU iPad OS 4_2_1 like Mac OS X,-8.631607,116.428436,Nusa Tenggara Barat,Indonesia,2020-08-23,33
3,88813,Cahyadi,Maheswara,df797edf-b465-4a80-973b-9fbb612260c2,df797edf_b465_4a80_973b_9fbb612260c2@zakyfound...,M,1991-01-05,iOS,f4c18515-c5be-419f-8142-f037be47c9cd,iPad; CPU iPad OS 14_2 like Mac OS X,1.299332,115.774934,Kalimantan Timur,Indonesia,2021-10-03,31
4,82542,Irnanto,Wijaya,36ab08e1-03de-42a8-9e3b-59528c798824,36ab08e1_03de_42a8_9e3b_59528c798824@startupca...,M,2000-07-15,iOS,e46e4c36-4630-4736-8fcf-663db29ca3b0,iPhone; CPU iPhone OS 10_3_3 like Mac OS X,-2.980807,114.924675,Kalimantan Selatan,Indonesia,2021-04-11,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,34743,Manah,Mustofa,bf989ab1-d7eb-4ad5-b4bc-29e3cf69b35c,bf989ab1_d7eb_4ad5_b4bc_29e3cf69b35c@startupca...,M,2000-11-17,Android,fa1914a5-0c12-4393-8d6c-af4e4a4de6aa,Android 4.3.1,-5.203523,105.635530,Lampung,Indonesia,2020-10-17,22
99996,72065,Danu,Pradana,4af2b3d5-c573-4032-b29c-24782745a2f6,4af2b3d5_c573_4032_b29c_24782745a2f6@startupca...,M,1998-03-30,Android,d8234d67-6954-4e05-8293-d37ef25bfd7e,Android 8.0.0,4.474702,95.904876,Aceh,Indonesia,2017-11-25,24
99997,32818,Talia,Aryani,af0edbfa-f354-4765-813b-b9f151022555,af0edbfa_f354_4765_813b_b9f151022555@startupca...,F,1993-01-12,Android,3c586f64-aab7-4dd6-be94-5d47c6361081,Android 11,-3.330376,127.028348,Maluku,Indonesia,2018-09-01,29
99998,75597,Ajimat,Mansur,35cd82f3-6b86-42a2-bb15-933770d7f250,35cd82f3_6b86_42a2_bb15_933770d7f250@startupca...,M,2000-09-13,Android,3b209c58-d305-4b46-9363-b90a3914f008,Android 7.1,-2.173114,101.495913,Jambi,Indonesia,2020-05-31,22
99999,40573,Yani,Usada,f5a2ab29-481d-49e6-960e-cb864ee1ed5a,f5a2ab29_481d_49e6_960e_cb864ee1ed5a@startupca...,F,1987-09-10,Android,b6bc29e0-5a22-47af-b31e-0972aafd4cab,Android 3.2.6,-6.524369,106.283232,Banten,Indonesia,2021-07-17,35

In [4]:
transaction = transaction.assign(created_at=pd.to_datetime(transaction['created_at']))

In [5]:
paid_transaction = transaction[transaction['payment_status']=='Success']
paid_transaction

,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,total_amount,product_id,quantity,item_price
0,2018-07-29 15:22:01.458193+00:00,5868,186e2bee-0637-4710-8981-50c2d737bc42,3abaa6ce-e320-4e51-9469-d9f3fa328e86,Debit Card,Success,1415,WEEKENDSERU,10000,2018-08-03T05:07:24.812676Z,-8.227893,111.969107,199832,54728,1,191247
1,2018-07-30 12:40:22.365620+00:00,4774,caadb57b-e808-4f94-9e96-8a7d4c9898db,2ee5ead1-f13e-4759-92df-7ff48475e970,Credit Card,Success,0,NaN,10000,2018-08-03T01:29:03.415705Z,3.013470,107.802514,155526,16193,1,145526
2,2018-09-15 11:51:17.365620+00:00,4774,6000fffb-9c1a-4f4a-9296-bc8f6b622b50,93325fb6-eb00-4268-bb0e-6471795a0ad0,OVO,Success,0,NaN,10000,2018-09-18T08:41:49.422380Z,-2.579428,115.743885,550696,53686,4,135174
3,2018-11-01 11:23:48.365620+00:00,4774,f5e530a7-4350-4cd1-a3bc-525b5037bcab,bcad5a61-1b67-448d-8ff4-781d67bc56e4,Credit Card,Success,0,NaN,0,2018-11-05T17:42:27.954235Z,-3.602334,120.363824,271012,20228,1,271012
4,2018-12-18 11:20:30.365620+00:00,4774,0efc0594-dbbf-4f9a-b0b0-a488cfddf8a2,df1042ab-13e6-4072-b9d2-64a81974c51a,Credit Card,Success,0,NaN,0,2018-12-23T17:24:07.361785Z,-3.602334,120.363824,198753,55220,1,198753
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254579,2020-11-12 18:19:20.074873+00:00,25121,7fdc05d1-234b-4889-a343-587ffc0635d5,33c3bf4f-0f24-4eb8-879d-906bf7e7736a,Debit Card,Success,0,NaN,10000,2020-11-18T18:06:06.493534Z,-6.286732,106.902229,287688,42915,1,277688
1254581,2021-12-09 07:35:18.222046+00:00,34829,ccde6b83-ee42-4cce-b2cd-976574886eac,954e1211-4d45-4d0b-ba84-53e80119592c,OVO,Success,5010,AZ2022,10000,2021-12-12T07:52:44.803822Z,-8.677264,115.176947,359203,19394,1,354213
1254582,2021-12-11 01:20:36.944593+00:00,99645,5bcd3434-1dc6-44bb-ae63-fd19714cbd6c,e6e6c108-abd0-49a2-b0a5-691117f9cfe1,Credit Card,Success,2181,WEEKENDSERU,5000,2021-12-12T13:28:22.848703Z,-6.185498,106.831093,1158159,13079,4,288835
1254583,2019-12-18 11:01:09.623382+00:00,87319,af7f291a-b01b-4bfd-89a9-237b16368b15,bb6e5426-a3f3-426a-b99d-79173eaa234b,Credit Card,Success,4503,AZ2022,0,2019-12-23T22:56:46.831720Z,-7.155977,110.891858,184143,11312,1,188646
1254584,2019-12-19 12:47:14.701215+00:00,58180,b242e188-5f94-4448-a038-c5865842374b,5e3183df-198b-40e0-b861-27ef694a832a,Gopay,Success,4724,BUYMORE,10000,2019-12-23T06:02:05.828334Z,-6.155983,106.723535,365963,47433,1,360687

In [6]:
paid_transaction = paid_transaction.assign(total_item_price = paid_transaction['total_amount']-paid_transaction['shipment_fee'])
paid_transaction = paid_transaction.drop(['booking_id', 'payment_method', 'payment_status', 'shipment_date_limit', 
                                          'shipment_location_lat', 'shipment_location_long', 'product_id', 'item_price', 
                                          'total_amount', 'shipment_fee'], axis=1)
paid_transaction = paid_transaction.assign(created_at = paid_transaction['created_at'].dt.strftime('%Y-%m-%d'))
paid_transaction = paid_transaction.assign(created_at = pd.to_datetime(paid_transaction['created_at']))
paid_transaction = paid_transaction.sort_values('created_at').reset_index(drop=True)
paid_transaction

,created_at,customer_id,session_id,promo_amount,promo_code,quantity,total_item_price
0,2016-06-30,74089,607d864b-76b5-45a1-a45d-7fb666a03ea1,0,NaN,3,630795
1,2016-07-01,73773,8f385c80-1b70-4861-80ac-5eb3b5620fee,0,NaN,1,246670
2,2016-07-01,6183,c5d3792d-9220-47db-ad80-4932f3f88d0e,6053,XX2022,1,568826
3,2016-07-01,6183,c5d3792d-9220-47db-ad80-4932f3f88d0e,6053,XX2022,1,568826
4,2016-07-01,16228,bbff775e-4166-46aa-bbfd-4ba6465add17,0,NaN,1,318792
...,...,...,...,...,...,...,...
1201030,2022-07-31,9787,5abd8cbe-e311-4691-a959-3775d7090680,0,NaN,1,450649
1201031,2022-07-31,34977,581bcb5f-77fd-46fc-bde4-41b2a6266b93,0,NaN,4,2641457
1201032,2022-07-31,34977,581bcb5f-77fd-46fc-bde4-41b2a6266b93,0,NaN,1,2641457
1201033,2022-07-31,95196,18c4a3bb-6954-4919-af8c-d6343839fe4a,0,NaN,1,390873
1201034,2022-07-31,20023,2db2b0bc-1af6-48db-ba40-9b9b33f4fd85,0,NaN,1,446401

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
gender_encoder = LabelEncoder()

In [9]:
merge_customer = customer[['customer_id', 'gender', 'age', 'home_location_lat', 'home_location_long', 'first_join_date']]
merge_customer = merge_customer.assign(gender=gender_encoder.fit_transform(merge_customer['gender']))
print(gender_encoder.classes_)
display(merge_customer)

['F' 'M']

,customer_id,gender,age,home_location_lat,home_location_long,first_join_date
0,2870,0,26,-1.043345,101.360523,2019-07-21
1,8193,0,29,-6.212489,106.818850,2017-07-16
2,7279,1,33,-8.631607,116.428436,2020-08-23
3,88813,1,31,1.299332,115.774934,2021-10-03
4,82542,1,22,-2.980807,114.924675,2021-04-11
...,...,...,...,...,...,...
99995,34743,1,22,-5.203523,105.635530,2020-10-17
99996,72065,1,24,4.474702,95.904876,2017-11-25
99997,32818,0,29,-3.330376,127.028348,2018-09-01
99998,75597,1,22,-2.173114,101.495913,2020-05-31
99999,40573,0,35,-6.524369,106.283232,2021-07-17

In [10]:
paid_transaction = paid_transaction.merge(merge_customer, how='left', on='customer_id')
paid_transaction

,created_at,customer_id,session_id,promo_amount,promo_code,quantity,total_item_price,gender,age,home_location_lat,home_location_long,first_join_date
0,2016-06-30,74089,607d864b-76b5-45a1-a45d-7fb666a03ea1,0,NaN,3,630795,0,43,-6.129814,106.957680,2016-06-30
1,2016-07-01,73773,8f385c80-1b70-4861-80ac-5eb3b5620fee,0,NaN,1,246670,1,31,-6.578046,108.145161,2016-06-30
2,2016-07-01,6183,c5d3792d-9220-47db-ad80-4932f3f88d0e,6053,XX2022,1,568826,1,27,-0.042226,110.152487,2016-07-01
3,2016-07-01,6183,c5d3792d-9220-47db-ad80-4932f3f88d0e,6053,XX2022,1,568826,1,27,-0.042226,110.152487,2016-07-01
4,2016-07-01,16228,bbff775e-4166-46aa-bbfd-4ba6465add17,0,NaN,1,318792,1,27,-6.828293,107.895690,2016-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...
1201030,2022-07-31,9787,5abd8cbe-e311-4691-a959-3775d7090680,0,NaN,1,450649,1,35,-7.974780,110.961563,2022-07-06
1201031,2022-07-31,34977,581bcb5f-77fd-46fc-bde4-41b2a6266b93,0,NaN,4,2641457,0,28,-7.901276,110.555862,2022-07-30
1201032,2022-07-31,34977,581bcb5f-77fd-46fc-bde4-41b2a6266b93,0,NaN,1,2641457,0,28,-7.901276,110.555862,2022-07-30
1201033,2022-07-31,95196,18c4a3bb-6954-4919-af8c-d6343839fe4a,0,NaN,1,390873,0,24,-6.134659,106.901928,2021-07-24
1201034,2022-07-31,20023,2db2b0bc-1af6-48db-ba40-9b9b33f4fd85,0,NaN,1,446401,0,33,-8.855794,117.307807,2022-07-31

# Preprocess_data

## pick_time

In [11]:
def pick_time(year_month_day:str, period:int, window_size:int) : 
    picked_time = datetime.strptime(year_month_day, '%Y-%m-%d') - timedelta(days=window_size) # pick 시점을 window_size만큼 과거로 이동
    start_time = picked_time - timedelta(days=6*period) # picked_time포함 이전 6*period
    end_time = picked_time + timedelta(days=period) # picked_time 이후 1 period
    return picked_time, start_time, end_time

## braket_retention

In [12]:
def braket_retention(picked_data:pd.DataFrame, start_time:pd.Timestamp, end_time:pd.Timestamp, period:int) :    
    # retain 기간별로 dataframe 적재
    retain_period = []
    for i in range(7) : 
        retain_period.append(picked_data.loc[(picked_data['created_at']>=start_time+timedelta(days=period*i))&
                                             (picked_data['created_at']<start_time+timedelta(days=period*(i+1)))])
    
    # retain 기간 별로 유저가 방문했는지 여부
    # groupby('customer_id').count로 계산
    retention_group = []
    for i, df in enumerate(retain_period) : 
        retention_group.append(df.groupby('customer_id').count())
    
    # 리텐션 테이블 생성
    retention = pd.concat(retention_group, axis=1)
    retention.columns = [f'retention-{period*6}', f'retention-{period*5}', f'retention-{period*4}', f'retention-{period*3}', 
                         f'retention-{period*2}', f'retention-{period*1}', 'y']
    retention = retention[~retention[f'retention-{period*6}'].isnull()] # retention-6*period의 비어있는 경우 삭제
    retention = retention.fillna(0) # 그 외 null값은 0으로 채움
    retention = retention.astype(int)
    retention[retention>1] = 1
    
    return retention

## build_data

In [13]:
def build_data(picked_period:pd.DataFrame, picked_time:pd.Timestamp, start_time:pd.Timestamp, end_time:pd.Timestamp, period:int) :     
    picked_data = picked_period[['customer_id', 'created_at']]
    print(start_time, end_time-timedelta(days=1))
    retention_table = braket_retention(picked_data, start_time, end_time, period)
    
    for_train_data = picked_period[(picked_period['created_at']>=start_time)
                                   &(picked_period['created_at']<picked_time)]
    
    base_customer_list = retention_table.index.to_list()
    for_train_data=for_train_data[for_train_data['customer_id'].isin(base_customer_list)].groupby('session_id').agg({'created_at':'max',
                                                                                                                    'customer_id':'max',
                                                                                                                    'promo_amount':'max',
                                                                                                                    'promo_code':'max',
                                                                                                                    'quantity':'sum',
                                                                                                                    'total_item_price':'max',
                                                                                                                    'gender':'max',
                                                                                                                    'age':'max',
                                                                                                                    'home_location_lat':'max',
                                                                                                                    'home_location_long':'max',
                                                                                                                    'first_join_date':'max'})
    agg_columns = for_train_data.groupby('customer_id').agg({'total_item_price':'sum', 
                                                             'promo_amount':'sum', 
                                                             'quantity':'sum',
                                                             'promo_code':'count',
                                                             'created_at':'max',
                                                             'gender':'max', 
                                                             'age':'max', 
                                                             'home_location_lat':'max', 
                                                             'home_location_long':'max',
                                                             'first_join_date':'max'}).rename(columns={'total_item_price':'total_amt_spent', 
                                                                                                       'promo_amount':'total_prm_amt',
                                                                                                       'quantity':'total_qty',
                                                                                                       'promo_code':'num_prm_used',
                                                                                                       'created_at':'days_since_last',
                                                                                                       'first_join_date':'days_since_regist'})
    agg_columns = agg_columns.assign(days_since_last=(picked_time - agg_columns['days_since_last']).astype(str).str.split(' ').str.get(0).astype(int))
    agg_columns = agg_columns.assign(days_since_regist=(picked_time - agg_columns['days_since_regist']).astype(str).str.split(' ').str.get(0).astype(int))
    
    return pd.concat([agg_columns, retention_table], axis=1)

## build_train_test_data

In [14]:
def build_train_test_data(df:pd.DataFrame, picked_date:str, period:int, window_size:int, num_iter:int) :
    
    picked_date_t = (pd.to_datetime(picked_date) + timedelta(days=210)).strftime('%Y-%m-%d')
    picked_time_t, start_time_t, end_time_t = pick_time(picked_date_t, period, 0)
    picked_test_period = df[(df['created_at']>=start_time_t) &(df['created_at']<end_time_t)]

    test_data = build_data(picked_test_period, picked_time_t, start_time_t, end_time_t, period).reset_index(drop=True)
    
    stack_train_list = []
    
    for i in tqdm(range(num_iter)) :
        picked_time, start_time, end_time = pick_time(picked_date, period, window_size*i)
        if end_time > start_time_t : 
            raise Exception('data leakage가 발생할 수 있습니다.') 
        picked_period = df[(df['created_at']>=start_time) &(df['created_at']<end_time)]
        stack_train_list.append(build_data(picked_period, picked_time, start_time, end_time, period))
        
    train_data = pd.concat(stack_train_list, axis=0).reset_index(drop=True)
    return train_data, test_data

In [15]:
for_validation = paid_transaction[paid_transaction['created_at']>=pd.to_datetime('2022-01-01')].copy()
display(for_validation)

valid_idx = for_validation.index
paid_transaction = paid_transaction.drop(valid_idx)
display(paid_transaction)

picked_valid_time = (pd.to_datetime('2022-07-31') - timedelta(days=30)).strftime('%Y-%m-%d')
print(picked_valid_time)

,created_at,customer_id,session_id,promo_amount,promo_code,quantity,total_item_price,gender,age,home_location_lat,home_location_long,first_join_date
927712,2022-01-01,60776,820e409a-51ba-406a-8b28-a8758f2da771,0,NaN,2,392407,0,31,0.689631,111.928460,2019-03-02
927713,2022-01-01,35666,25d0ef0c-bd44-491c-9559-b7e6deca5f20,4962,WEEKENDSERU,1,300900,1,38,0.860568,102.965962,2018-07-13
927714,2022-01-01,40916,9616a2c1-b9bb-4d62-8cdc-9a864fef2599,6330,WEEKENDSERU,1,163258,0,10,0.028130,109.646818,2020-07-25
927715,2022-01-01,33158,b5a8a6cd-5464-40ef-9dac-daa7678af8f8,0,NaN,1,224915,1,28,-1.446665,110.238425,2021-06-05
927716,2022-01-01,22962,b147cac5-cf7b-47dc-be09-8a553e74d187,5984,WEEKENDMANTAP,1,314676,0,26,0.595376,123.737884,2021-05-30
...,...,...,...,...,...,...,...,...,...,...,...,...
1201030,2022-07-31,9787,5abd8cbe-e311-4691-a959-3775d7090680,0,NaN,1,450649,1,35,-7.974780,110.961563,2022-07-06
1201031,2022-07-31,34977,581bcb5f-77fd-46fc-bde4-41b2a6266b93,0,NaN,4,2641457,0,28,-7.901276,110.555862,2022-07-30
1201032,2022-07-31,34977,581bcb5f-77fd-46fc-bde4-41b2a6266b93,0,NaN,1,2641457,0,28,-7.901276,110.555862,2022-07-30
1201033,2022-07-31,95196,18c4a3bb-6954-4919-af8c-d6343839fe4a,0,NaN,1,390873,0,24,-6.134659,106.901928,2021-07-24
1201034,2022-07-31,20023,2db2b0bc-1af6-48db-ba40-9b9b33f4fd85,0,NaN,1,446401,0,33,-8.855794,117.307807,2022-07-31

,created_at,customer_id,session_id,promo_amount,promo_code,quantity,total_item_price,gender,age,home_location_lat,home_location_long,first_join_date
0,2016-06-30,74089,607d864b-76b5-45a1-a45d-7fb666a03ea1,0,NaN,3,630795,0,43,-6.129814,106.957680,2016-06-30
1,2016-07-01,73773,8f385c80-1b70-4861-80ac-5eb3b5620fee,0,NaN,1,246670,1,31,-6.578046,108.145161,2016-06-30
2,2016-07-01,6183,c5d3792d-9220-47db-ad80-4932f3f88d0e,6053,XX2022,1,568826,1,27,-0.042226,110.152487,2016-07-01
3,2016-07-01,6183,c5d3792d-9220-47db-ad80-4932f3f88d0e,6053,XX2022,1,568826,1,27,-0.042226,110.152487,2016-07-01
4,2016-07-01,16228,bbff775e-4166-46aa-bbfd-4ba6465add17,0,NaN,1,318792,1,27,-6.828293,107.895690,2016-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...
927707,2021-12-31,69072,3667c9d0-fa99-4c2c-a618-8da5c55da81f,0,NaN,1,1003478,0,20,-6.955743,108.017254,2017-09-17
927708,2021-12-31,13251,e9ac2fab-b353-4902-bcdd-38548816b1d4,0,NaN,1,369468,1,17,1.445640,109.443666,2021-01-16
927709,2021-12-31,59588,08bbbd4d-f771-4268-98c5-0b394537a29d,0,NaN,1,107168,1,42,-7.948730,110.362837,2021-09-12
927710,2021-12-31,24161,91b94b7d-e7b5-4493-a8a1-ff52aa544148,3317,BUYMORE,1,271146,0,23,-1.432062,110.523550,2020-06-27
927711,2021-12-31,79894,e294700c-e60f-4136-9052-0559fb31b7d0,1981,AZ2022,1,192090,1,39,-6.760465,131.544214,2017-07-29

2022-07-01

In [16]:
valid_pick, valid_start, valid_end = pick_time(picked_valid_time, 30, 0)
validation_data = build_data(picked_period=for_validation, picked_time=valid_pick, start_time=valid_start, end_time=valid_end, period=30).reset_index(drop=True)
validation_data

2022-01-02 00:00:00 2022-07-30 00:00:00

,total_amt_spent,total_prm_amt,total_qty,num_prm_used,days_since_last,gender,age,home_location_lat,home_location_long,days_since_regist,retention-180,retention-150,retention-120,retention-90,retention-60,retention-30,y
0,2943828,27717,13,5,5,1,36,-6.151858,106.945839,1406,1,1,1,1,1,1,0
1,891635,0,5,0,34,0,16,-6.035939,106.747580,370,1,0,1,0,1,0,0
2,63320,3880,1,1,177,0,39,-7.321196,106.653088,1007,1,0,0,0,0,0,0
3,1935302,9223,7,1,42,0,27,-6.951992,111.268699,1203,1,1,0,1,1,0,0
4,19301644,43555,76,9,5,1,23,-6.160241,106.814012,238,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16998,2927550,4988,11,1,5,1,41,-2.776026,113.858750,1370,1,1,1,1,1,1,0
16999,997683,16335,9,3,37,0,28,-8.515211,120.131960,1118,1,0,1,1,1,0,1
17000,462880,0,3,0,37,0,38,-4.434246,104.532857,731,1,0,1,0,1,0,0
17001,5671523,14778,19,3,8,0,17,-8.196262,110.710026,684,1,1,1,1,1,1,1
17002,4212436,1954,22,1,157,0,8,-4.092411,105.179376,1461,1,0,0,0,0,0,0

In [17]:
validation_data.y.value_counts()

0    10107
1     6896
Name: y, dtype: int64

In [18]:
train_picked_date = '2021-05-01'
train_data, test_data = build_train_test_data(df=paid_transaction, picked_date=train_picked_date, period=30, window_size=30, num_iter=6)
train_data

2021-05-31 00:00:00 2021-12-26 00:00:00

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]

2020-11-02 00:00:00 2021-05-30 00:00:00

 17%|██████████████                                                                      | 1/6 [00:05<00:25,  5.04s/it]

2020-10-03 00:00:00 2021-04-30 00:00:00

 33%|████████████████████████████                                                        | 2/6 [00:09<00:19,  4.96s/it]

2020-09-03 00:00:00 2021-03-31 00:00:00

 50%|██████████████████████████████████████████                                          | 3/6 [00:14<00:14,  4.85s/it]

2020-08-04 00:00:00 2021-03-01 00:00:00

 67%|████████████████████████████████████████████████████████                            | 4/6 [00:19<00:09,  4.72s/it]

2020-07-05 00:00:00 2021-01-30 00:00:00

 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:23<00:04,  4.74s/it]

2020-06-05 00:00:00 2020-12-31 00:00:00

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:28<00:00,  4.68s/it]

,total_amt_spent,total_prm_amt,total_qty,num_prm_used,days_since_last,gender,age,home_location_lat,home_location_long,days_since_regist,retention-180,retention-150,retention-120,retention-90,retention-60,retention-30,y
0,1913495,10637,8,2,27,1,36,-6.151858,106.945839,980,1,1,1,1,1,1,1
1,394096,3463,1,1,165,0,39,-7.321196,106.653088,581,1,0,0,0,0,0,0
2,3707028,6401,16,2,3,0,27,-6.951992,111.268699,777,1,0,0,1,1,1,0
3,3881987,36853,13,4,32,1,67,-7.778593,109.920304,277,1,1,0,1,1,0,1
4,362822,3010,2,1,172,1,25,-6.154007,106.904838,173,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63670,1117753,9576,6,1,34,1,23,-7.988332,110.760505,389,1,0,1,0,1,0,0
63671,390778,0,2,0,41,0,17,-0.258484,104.839638,822,1,0,0,0,1,0,0
63672,3543503,5694,12,1,24,0,26,-1.169734,112.966928,602,1,0,1,1,1,1,1
63673,1660523,7178,8,2,19,1,41,-2.776026,113.858750,794,1,1,1,1,1,1,1
63674,631954,4844,3,1,29,0,38,-4.434246,104.532857,155,1,0,1,0,0,1,0

In [19]:
test_data

,total_amt_spent,total_prm_amt,total_qty,num_prm_used,days_since_last,gender,age,home_location_lat,home_location_long,days_since_regist,retention-180,retention-150,retention-120,retention-90,retention-60,retention-30,y
0,4248636,5863,15,1,41,1,36,-6.151858,106.945839,1190,1,1,1,1,1,0,1
1,1712030,0,5,0,19,0,16,-6.035939,106.747580,154,1,0,0,1,0,1,0
2,117423,3609,1,1,168,0,39,-7.321196,106.653088,791,1,0,0,0,0,0,0
3,571390,14724,3,3,41,0,27,-6.951992,111.268699,987,1,1,0,0,1,0,1
4,2680365,10238,16,2,19,0,19,2.209814,116.907519,483,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13323,2882550,21439,11,4,24,1,42,-6.175516,106.711059,749,1,1,1,0,1,1,1
13324,10917688,32902,39,7,2,1,35,-6.215239,106.761858,487,1,1,1,1,1,1,1
13325,2579558,8120,7,2,32,0,26,-1.169734,112.966928,962,1,1,1,1,1,0,1
13326,6415392,25276,25,4,6,1,41,-2.776026,113.858750,1154,1,1,1,1,1,1,1
13327,5815655,12773,22,3,9,0,17,-8.196262,110.710026,468,1,1,1,1,1,1,1

In [20]:
test_data.y.value_counts()

1    8759
0    4569
Name: y, dtype: int64

# Modeling

In [21]:
# 모델링 전 단계로 이탈 유저 vs 유지 유저의 유저 페르소나 혹은 행동 패턴의 차이 비교 분석

# 변수 설정
#    - y : 이탈(유지) 여부
#    - x : 고객 성별, 고객 나이, 기간 내 구매 빈도(F), 기간 내 구매액(M), 기간 내 구매한 아이템 갯수(quantity), 
#           기간 내 사용 프로모션의 횟수, 최종 거래일 이후 경과된 기간, 최종 거래 직전 거래 일과 최종 거래일의 간격(R)
#          가입일자, 거주지, 상대적 활동량의 감소(지지난달 대비 지난달의 활동량 감소)
#          경쟁사 혹은 다른 이유로 특정 달에만 리텐션이 감소했다면 걸러낼 수 있어야할 듯?

# 이번 달에 이탈할 것으로 예측되는 유저를 알아내는 것이 목적 -> 추가 프로모션 지급 or 푸시 알림 등의 개별 케어를 액션으로 할 수 있기 때문에
# 특정한 기간을 학습해서 다음 달에 이탈할지 예측

# 처음 모델은 쉽게 잘 되면 고도화
# 실험환경 : 하이퍼파라미터 넣어서
# 윈도우 사이즈 조절해서 데이터셋 생성해낼 수 있도록 할 것

In [22]:
# 이번 달에 이탈할 것으로 예측되는 유저를 알아내는 것이 목적 -> 추가 프로모션 지급 or 푸시 알림 등의 개별 케어를 액션으로 할 수 있기 때문에
# 특정한 기간을 학습해서 다음 달에 이탈할지 예측

In [23]:
from pycaret.classification import *
from sklearn.model_selection import train_test_split

In [24]:
pycaret_model = setup(session_id=42, data=train_data, target='y', test_data=test_data, normalize=True, normalize_method='zscore', transformation=True, use_gpu=True, index=False)

In [25]:
models()

,Name,Reference,Turbo
ID,,,
lr,Logistic Regression,sklearn.linear_model._logistic.LogisticRegression,True
knn,K Neighbors Classifier,sklearn.neighbors._classification.KNeighborsCl...,True
nb,Naive Bayes,sklearn.naive_bayes.GaussianNB,True
dt,Decision Tree Classifier,sklearn.tree._classes.DecisionTreeClassifier,True
svm,SVM - Linear Kernel,sklearn.linear_model._stochastic_gradient.SGDC...,True
rbfsvm,SVM - Radial Kernel,sklearn.svm._classes.SVC,False
gpc,Gaussian Process Classifier,sklearn.gaussian_process._gpc.GaussianProcessC...,False
mlp,MLP Classifier,sklearn.neural_network._multilayer_perceptron....,False
ridge,Ridge Classifier,sklearn.linear_model._ridge.RidgeClassifier,True
rf,Random Forest Classifier,sklearn.ensemble._forest.RandomForestClassifier,True
qda,Quadratic Discriminant Analysis,sklearn.discriminant_analysis.QuadraticDiscrim...,True
ada,Ada Boost Classifier,sklearn.ensemble._weight_boosting.AdaBoostClas...,True
gbc,Gradient Boosting Classifier,sklearn.ensemble._gb.GradientBoostingClassifier,True
lda,Linear Discriminant Analysis,sklearn.discriminant_analysis.LinearDiscrimina...,True
et,Extra Trees Classifier,sklearn.ensemble._forest.ExtraTreesClassifier,True
xgboost,Extreme Gradient Boosting,xgboost.sklearn.XGBClassifier,True
lightgbm,Light Gradient Boosting Machine,lightgbm.sklearn.LGBMClassifier,True
dummy,Dummy Classifier,sklearn.dummy.DummyClassifier,True

In [26]:
compare_models()

Processing:   0%|          | 0/65 [00:00<?, ?it/s]

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               device='gpu', importance_type='split', learning_rate=0.1,
               max_depth=-1, min_child_samples=20, min_child_weight=0.001,
               min_split_gain=0.0, n_estimators=100, n_jobs=-1, num_leaves=31,
               objective=None, random_state=42, reg_alpha=0.0, reg_lambda=0.0,
               silent='warn', subsample=1.0, subsample_for_bin=200000,
               subsample_freq=0)

In [46]:
train_data

,total_amt_spent,total_prm_amt,total_qty,num_prm_used,days_since_last,gender,age,home_location_lat,home_location_long,days_since_regist,retention-180,retention-150,retention-120,retention-90,retention-60,retention-30,y
0,1913495,10637,8,2,27,1,36,-6.151858,106.945839,980,1,1,1,1,1,1,1
1,394096,3463,1,1,165,0,39,-7.321196,106.653088,581,1,0,0,0,0,0,0
2,3707028,6401,16,2,3,0,27,-6.951992,111.268699,777,1,0,0,1,1,1,0
3,3881987,36853,13,4,32,1,67,-7.778593,109.920304,277,1,1,0,1,1,0,1
4,362822,3010,2,1,172,1,25,-6.154007,106.904838,173,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63670,1117753,9576,6,1,34,1,23,-7.988332,110.760505,389,1,0,1,0,1,0,0
63671,390778,0,2,0,41,0,17,-0.258484,104.839638,822,1,0,0,0,1,0,0
63672,3543503,5694,12,1,24,0,26,-1.169734,112.966928,602,1,0,1,1,1,1,1
63673,1660523,7178,8,2,19,1,41,-2.776026,113.858750,794,1,1,1,1,1,1,1
63674,631954,4844,3,1,29,0,38,-4.434246,104.532857,155,1,0,1,0,0,1,0

In [27]:
X_train, y_train = train_data.drop('y', axis=1), train_data['y'] 
X_test, y_test = test_data.drop('y', axis=1), test_data['y']

In [28]:
from lightgbm import LGBMClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_auc_score, roc_curve

In [29]:
lgbm = LGBMClassifier(random_state=42)

In [30]:
lgbm.fit(X_train, y_train)
y_pred = lgbm.predict(X_test)

In [31]:
def print_metric(y_test, y_pred) : 
    acc = (accuracy_score(y_test, y_pred)*100).round(2)
    prc = (precision_score(y_test, y_pred)*100).round(2)
    rc = (recall_score(y_test, y_pred)*100).round(2)
    f1 = (f1_score(y_test, y_pred)*100).round(2)
    
    display(pd.DataFrame(confusion_matrix(y_pred, y_test)))
    
    print(f'정확도 : {acc}%')
    print(f'정밀도 : {prc}%')
    print(f'민감도 : {rc}%')
    print(f'f1-score: {f1}%')

In [32]:
print_metric(y_pred, y_test)

      0     1
0  3905   664
1   202  8557

정확도 : 93.5%
정밀도 : 97.69%
민감도 : 92.8%
f1-score: 95.18%

In [33]:
import statsmodels.api as sm

In [34]:
log_reg = sm.Logit(y_train, X_train).fit()

Optimization terminated successfully.
         Current function value: 0.299112
         Iterations 8

In [35]:
print(log_reg.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                63675
Model:                          Logit   Df Residuals:                    63659
Method:                           MLE   Df Model:                           15
Date:                Fri, 19 Apr 2024   Pseudo R-squ.:                  0.5277
Time:                        23:11:06   Log-Likelihood:                -19046.
converged:                       True   LL-Null:                       -40322.
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
total_amt_spent     4.169e-08   2.32e-08      1.796      0.073   -3.81e-09    8.72e-08
total_prm_amt      -1.755e-06    4.2e-06     -0.418      0.676   -9.99e-06    6.48e-06
total_qty              0.0076      0.006      1.232      0.218      -0.005       0.020
num_prm_used           0.1125      0.025      4.430      0.000       0.063       0.162
days_since_last        0.0148      0.001     29.202      0.000       0.014       0.016
gender                 0.0223      0.027      0.826      0.409      -0.031       0.075
age                    0.0003      0.002      0.177      0.859      -0.003       0.004
home_location_lat      0.0033      0.004      0.784      0.433      -0.005       0.012
home_location_long    -0.0028      0.002     -1.385      0.166      -0.007       0.001
days_since_regist   6.265e-05   2.93e-05      2.140      0.032    5.27e-06       0.000
retention-180         -3.5998      0.247    -14.579      0.000      -4.084      -3.116
retention-150          2.5443      0.045     56.520      0.000       2.456       2.632
retention-120          2.9444      0.040     73.695      0.000       2.866       3.023
retention-90           2.7645      0.041     66.955      0.000       2.684       2.845
retention-60           0.9168      0.044     20.969      0.000       0.831       1.002
retention-30          -2.2788      0.050    -45.433      0.000      -2.377      -2.180
======================================================================================

In [36]:
log_reg_predict = log_reg.predict(X_test)

In [37]:
print_metric(y_test, log_reg_predict.round())

      0     1
0  3408   206
1  1161  8553

정확도 : 89.74%
정밀도 : 88.05%
민감도 : 97.65%
f1-score: 92.6%

In [ ]:
log_reg_valid_predict = log_reg.predict(X_valid)

In [44]:
X_valid = validation_data.drop('y', axis=1)
y_valid = validation_data['y']
lgbm_valid_predict = lgbm.predict(X_valid)
log_reg_valid_predict = log_reg.predict(X_valid)

In [45]:
print_metric(y_valid, lgbm_valid_predict)

      0     1
0  4908    55
1  5199  6841

정확도 : 69.1%
정밀도 : 56.82%
민감도 : 99.2%
f1-score: 72.25%

In [39]:
print_metric(y_valid, log_reg_valid_predict.round())ㅆㅆ

      0     1
0  3835    41
1  6272  6855

정확도 : 62.87%
정밀도 : 52.22%
민감도 : 99.41%
f1-score: 68.47%

In [40]:
# 지금 결과는 데이터 leakage가 심각해보인다 -> 너무 긍정적으로 검토하면 뒤통수맞을 수 있다. -> 성능보고 대시보드 협업 고려해봐라
# 90퍼센트에 가까운 성능이 나오면 룰베이스로도 그 결과가 나온다 -> 룰 베이스의 인사이트가 나오면 그 부분을 고려해서 분석을 하면 좋겠다.-> 유의미한 인사이트가 될 수 있다. 

# train과 test를 분리 -> test를 마찬가지로 별도의 train과 관련없는 기간에서 추출 <- 지금처럼 train_test_split하면 leakage가 있을 가능성이 높음

# test는 최근 데이터로 할 것
# train 데이터에 실수로 포함되지 않게끔 validation 데이터를 따로 뽑아내서 검증해볼것

In [41]:
# 30일 단위 윈도우 보단 월별이 더 나아보인다. (정답은 없음) <- 이렇게 한다면 윈도우랑 브라켓은 동기화를 하나? 브라켓 사이즈는 통일 되어야할 것 같은데...
# 대시보드에서 weekly로 매출을 보여준다면, 이탈도 weekly로 볼 수도 있다. -> 고려해볼 것

In [42]:
# 만약 내 의도대로 되지 않으면 에러를 일으키는 코드를 집어넣고 확인한다. <- 이프레이즈